/* VARIABLES */

:root {
    --primary-color: #261a90;
    --secondary-color: #161549;
    --third-color: #A96C74;
    --fourth-color: #23193C;
    --lighter-bg-color: #161218;
    --nav-bg-color: rgb(30, 30, 30);
    --font-color: #FBFBFD;
    --bg-color: #0d0a0e;
    --loader-bg-color: #0c0c0c;
    --overlay-color: rgba(255, 255, 255, 0.1);
    --scroll-bg-color: rgb(14, 14, 14);
    --scroll-fg-color: rgb(29, 29, 29);
}

/* PREREQUISITES */

@font-face {
    font-family: 'apercu';
    src: url('lib/font.otf');
}

* {
    margin: 0px;
    padding: 0px;
    outline: none !important;
}

html {
    margin: 0px;
    scroll-behavior: smooth !important;
    overflow-x: hidden;
}

::scrollbar {
    width: 10px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-moz-scrollbar {
    width: 10px;
}

::-o-scrollbar {
    width: 10px;
}

::scrollbar-track {
    background-color: var(--scroll-bg-color);
}

::-webkit-scrollbar-track {
    background-color: var(--scroll-bg-color);
}

::-moz-scrollbar-track {
    background-color: var(--scroll-bg-color);
}

::-o-scrollbar-track {
    background-color: var(--scroll-bg-color);
}

::scrollbar-thumb {
    background-color: var(--scroll-fg-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroll-fg-color);
}

::-moz-scrollbar-thumb {
    background-color: var(--scroll-fg-color);
}

::-o-scrollbar-thumb {
    background-color: var(--scroll-fg-color);
}

::-moz-selection {
    color: #fff;
    background-color: var(--primary-color);
}

::-webkit-selection {
    color: #fff;
    background-color: var(--primary-color);
}

::selection {
    color: #fff;
    background-color: var(--primary-color);
}

body {
    background-color: var(--bg-color);
    transition: 0.25s;
}

hr {
    width: 85%;
    border-color: var(--lighter-bg-color);
    transition: 0.4s !important;
}

.align-right {
    text-align: right !important;
}

.align-left {
    text-align: left !important;
}

.align-center {
    text-align: center !important;
}

.right {
    float: right !important;
}

.left {
    float: left !important;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
    opacity: 0.8;
    transition: 0.25s;
}

a:hover {
    text-decoration: none;
    color: var(--secondary-color);
    opacity: 1;
}

/* NAVBAR */

.navbar {
    transition: 0.25s;
    z-index: 21;
}

.navbar a {
    transition: 0.25s;
    margin: 10px;
    color: #fdfdfe;
    opacity: 0.8;
}

.navbar a:hover {
    opacity: 1;
}

.navlogo {
    height: 30px;
}

.navlogo-dark {
    display: none;
}

/* SECTIONS */

.section {
    z-index: 1;
    background-color: var(--bg-color);
    color: var(--font-color);
    transition: 0.4s;
    padding: 75px 0px;
}

.section-hr {
    height: 5px;
    width: 60%;
    background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    margin: 10px;
}

.section .row {
    padding: 10px;
}

h3.section-title {
    font-size: 35px;
}

.section-title {
    font-family: 'apercu', sans-serif;
    font-weight: 800;
    font-size: 50px;
    padding: 10px;
}

.section-text {
    font-size: 20px;
    padding: 10px;
    font-family: 'open sans', sans-serif;
}

/* HOME */

.home {
    min-height: 100vh;
    background-image: url('lib/home-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home-text {
    margin-top: 25vh;
    width: 100%;
    margin-bottom: 20px;
}

.home-img {
    padding-top: 20vh;
}

.home-logo img {
    width: 100%;
}

.home-img img {
    width: 100%;
    filter: invert(1);
}

@media screen and (max-width: 500px) {
    .home-logo {
        display: none;
    }
}

.home-text h1 {
    font-size: 60px;
    font-family: 'apercu', sans-serif;
    font-weight: 800;
    padding-top: 30px;
}

.home-text h3 {
    font-size: 30px;
    font-family: 'apercu', sans-serif;
    font-weight: 800;
}

.home a {
    font-size: 18px;
    font-family: 'open sans', sans-serif;
    text-transform: uppercase;
}

a.enter {
    background-color: var(--third-color);
    border-radius: 15px;
    padding: 7px 15px;
    transition: 0.25s;
    text-align: center;
    margin: 5px;
    color: var(--font-color);
}

a.video {
    color: var(--third-color);
    padding: 7px 15px;
    transition: 0.25s;
    margin: 5px;
}

a.video:hover {
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -o-transform: translateX(10px);
}

/* ABOUT US */

.about {
    background: linear-gradient(to right, #d3c7ff, #b5b7ff);
}

/* FEATURES */

.section-img {
    width: auto;
    height: 50vh;
    padding: 10px;
}

.section-img img {
    height: 100%;
}

.feature-text {
    padding: 60px 10px;
    font-size: 20px;
    font-family: 'open sans', sans-serif;
}

/* MARKET */

.market {
    background-color: #d49172;
    color: #100613;
}

.market .col-md-10 {
    background-color: #ffd8ae;
    border-radius: 20px;
    padding: 30px;
}

.market-item {
    border-radius: 15px;
    border: #100613 solid 2px;
    background-color: #fdfdfe;
    margin: 20px;
}

.market-text {
    padding: 10px 30px 20px 30px;
}

.purchase {
    padding: 5px 10px;
    background-color: #100613;
    color: #fdfdfe !important;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 10px;
}

.market-img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 100px;
}

/* ENTERGALLERY */

.enter-gallery {
    background: url('lib/enter-bg.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fdfdfe;
}

.enter-gallery a.enter {
    background-color: #fdfdfe;
    color: #44389b !important;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'open sans', sans-serif;
    font-weight: 700;
}

.enter-gallery .section-hr {
    background: #fdfdfe;
}

/* VIDEO */

div.video {
    background-color: #2b2362;
    color: #fdfdfe;
}

.video h1.section-title {
    padding-top: 50px;
}

/* CONTACT */

.footer-link {
    opacity: 1;
}

.footer-logo {
    width: 80%;
}

.footer-text {
    padding: 60px 30px;
}

.footer-text a{
    color: #382d83;
    opacity: 1;
}